<app-card title="Text Input"></app-card>

<app-card title="Input 1: Text Input">
  <div>
    <input class="form-control form-control-lg bg-secondary text-white"
           #input1
           type="text"
           placeholder="Enter your search query">
  </div>
  <div class="p-2">
    <pre>{{ input1result | json }}</pre>
  </div>
</app-card>

<app-card title="Input 2: Transform input events">
  <div>
    <input class="form-control form-control-lg bg-secondary text-white"
           #input2
           type="text"
           placeholder="Enter your search query">
  </div>
  <div class="p-2">
    <pre>{{ input2result | json }}</pre>
  </div>
</app-card>

<app-card title="Input 3: Transform input events">
  <div>
    <input class="form-control form-control-lg bg-secondary text-white"
           #input3
           type="text"
           placeholder="Enter your search query">
  </div>
  <div *ngIf="input3result.result as result; else noresult">
    <div *ngFor="let item of result.data">
      <img [attr.src]="item.images['original']['url']" alt="">
    </div>
  </div>
  <ng-template #noresult>
    <div class="text-center" *ngIf="input3result.loading">
      <i class="text-danger fa fa-spinner fa-spin fa-5x my-5"></i>
    </div>
    <div class="text-center" *ngIf="!input3result.loading && !result">
      No result
    </div>
  </ng-template>

</app-card>

