<app-activity [title]="intro.title"
              [description]="intro.description"
              [showSolutionLink]="false"
              [showContent]="false"
              [showResult]="false"></app-activity>

<app-activity [title]="info1.title"
              [description]="info1.description"
              [steps]="info1.steps"
              [solution]="info1.solution"
              [result]="result1">

  <button #button1 class="btn btn-primary">Button 1</button>

</app-activity>

<app-activity [title]="info2.title"
              [description]="info2.description"
              [steps]="info2.steps"
              [solution]="info2.solution"
              [result]="result2">

  <button #button2 class="btn btn-primary">Button 2</button>

</app-activity>

<app-activity [title]="info3.title"
              [description]="info3.description"
              [steps]="info3.steps"
              [solution]="info3.solution"
              [result]="result3">
</app-activity>

<app-activity [title]="info4.title"
              [description]="info4.description"
              [steps]="info4.steps"
              [solution]="info4.solution"
              [showContent]="false"
              [showResult]="false">

</app-activity>
